[submodule "llvm"]
	path = llvm
	url = https://github.com/meetzaa/llvm-wYUVRGB
	branch = main
[submodule "fpga"]
	path = fpga
	url = https://git.beagleboard.org/Luciana.lm11/testing-gateware.git
	branch = optimized_apb_conversion
